.transactionHistory {
  width: 600px;
  border-collapse: collapse;
  margin: 20px auto auto;
}

.tableHead {
  background-color: blue;
  color: white;
}

.tableBody tr:nth-child(odd) {
  background-color: lightgray;
}

.tableBody tr:nth-child(even) {
  background-color: white;
}

.tableColumn {
  border: 1px solid black;
  padding: 8px;
}

.tableBody {
  text-align: center;
  text-transform: capitalize;
}
.tableColumn,
.tableBody td {
  border: 1px solid black;
  padding: 8px;
}
